.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.xcnn{
    top: 10;
    margin-top: 50px;

}
.header {
    font-size: 24px;
    font-family: "Open Sans","sans-serif";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(138, 165, 240, 0.54);
    width: 100%;
    padding:.5rem;
}
.content {
    display: flex;
    flex-direction: column;
}
.image {
    width: 21em;
}
    img {
        width: 100%;
        height: 100%;
    }

.form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

  }  .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;}
        label {
            font-size: 30px;
       }
       input {
           margin-top: 6px;
           padding: 10px;
           min-width: 18em;
           height: 37px;
           font-family: 'Open Sans','sans-serif';
           background-color: #f3f3f3;
           border: 0;
           font-size: 30px;
           border-radius: 4px;
           margin-bottom: 31px;
           transition: all 250ms ease-in-out;}
           input:focus {
               outline: none;
               box-shadow: 0px 0px 12px 0.8px #0e81ce96;
           }
           .footer {
               margin-top: 3em;
           }
           button{
               padding: 20px;
               font-size: 30px;
               cursor: pointer;
               background: turquoise;
               border: none;
               letter-spacing: 3px;
               border-radius: 10px;
               font-weight: 600;
           }
           button:hover{
               opacity: 80%;
           }
           .err{
               color: red;
           }

           .em{
               color: blueviolet;
           }
           .footr{
            text-align:center;
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(138, 165, 240, 0.54);
            width: 100%;
            padding:.5rem;
           }